# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.env
.venv/
venv/

# IDEs/Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Builds
build/
dist/

# Caches and downloads
.cache/

# Local vector indexes
faiss_index_local/


